{% extends "./base.html" %}
<!--<ul>-->
    <!--<li>-->
        <!--{% for cate in nav_cates %}-->
            <!--<a href="{% url 'category' cate.id%}">{{ cate.name }}</a>-->
<!--{% endfor %}-->
    <!--</li>-->
<!--</ul>-->
<!--<hr/>-->
{% block content %}
<ul>
    {% if posts %}
        {% for post in posts %}
             <div class="post-element">
                <div>
                  <h3 class="post-element-title"><a href="{% url 'detail' post.id %}">{{ post.title }}</a></h3>
                  <div>
                      <nav class="nav">
                          分类:<a class="nav-link post-element-nav" href="#">{{ post.category }}</a>
                          标签:<a class="nav-link post-element-nav" href="#">{% for tg in post.tag.all %} {{ tg.name }}{% endfor %}</a>
                          作者:<a class="nav-link post-element-nav" href="#">{{ post.user }}</a>
                          创建时间:<a class="nav-link post-element-nav" href="#">{{ post.created_time }}</a>
                      </nav>
                  </div>
                  <div>
                      <p>{{ post.desc }}</p>
                  </div>
              </div>
            </div>
        <hr/>
        {% endfor %}
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">上一页</a>{% endif %}
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">下一页</a>{% endif %}
    {% else %}
        Empty!
    {% endif %}
</ul>
{% endblock %}
<!--<hr/>-->

<!--<ul>-->
    <!--<li>-->
        <!--{% for cate in cates %}-->
            <!--<a href="{% url 'category' cate.id%}">{{ cate.name }}</a>-->
<!--{% endfor %}-->
    <!--</li>-->
<!--</ul>-->

<!--<hr/>-->

<!--<ul>-->
    <!--{% for side in sidebars %}-->
        <!--<h4>{{ side.title }}</h4>-->
        <!--<div>-->
            <!--{% if side.display_type == 1 %}-->
                <!--{{ side.content }}-->
            <!--{% elif side.display_type == 2 %}-->
            <!--<ul>-->
                <!--{% for post in recently_posts %}-->
                    <!--<li>-->
                        <!--{{ post.title }}-->
                    <!--</li>-->
                <!--{% endfor %}-->
            <!--</ul>-->
            <!--{% elif side.display_type == 4%}-->
                <!--{% for comment in recently_comment %}-->
                    <!--<li>-->
                        <!--{{ comment.content }}-->
                    <!--</li>-->
                <!--{% endfor %}-->
            <!--{% endif %}-->
        <!--</div>-->
    <!--{% endfor %}-->
<!--</ul>-->

